.navbar {
  @include gradient-y(lighten($primary, 10%), $primary);
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-item {
  color: $highlight;
}

.navbar-brand-icon {
  height: 70px;
  width: 70px;
}

.navbar .navbar-toggler {
  border-color: $highlight !important;
}

.navbar .navbar-toggler-icon {
  background-image: url('./download.svg') !important;
}
