$primary-color: #540000;
$primary-text-color: #ffffff;
$secondary-color: #D0E7EF;
$secondary-text-color: #000000;

// BOOTSTRAP //
// reboot
@import "~bootstrap/scss/bootstrap-reboot";
// bootstrap libraries
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/helpers";
// utilities api
@import "~bootstrap/scss/utilities/api";

@mixin header-gradient() {
  @include gradient-y($primary-color, lighten($primary-color, 10%));
}

// // FONTAWESOME
// @import "~fontawesome-free/scss/variables";
// @import "~fontawesome-free/scss/icons";

@import "./NavItem.scss";
@import "./HeaderNav.scss";
@import "./HeroImg.scss";
@import "./WorkCard.scss";
@import "./MainBody.scss";
@import "./SocialFooter.scss";
@import "./ContactForm.scss";
