main {
  color: $secondary-text-color;
  background-color: $secondary-color;

  section {
    * {
      color: inherit;
    }

    @media(max-width: 992px) {
      .vr {
        height: 1px;
        min-height: 1px;
        visibility: hidden;
      }
    }
  }
}

.work-content {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
