@mixin card-transition($type) {
  transition: #{$type} 0.15s ease-in-out;
}

.card {
  border-color: $secondary-text-color;
  @include card-transition(border);

  .card-img {
    height: 100%;
    width: 100%;
  }

  .card-img-overlay {
    @include card-transition(background-color);

    .card-link {
      z-index: 1;
      @include card-transition(color);
    }

    .card-link:hover {
      color: $secondary-text-color;
    }
  }

  .card-img-overlay:hover {
    background-color: rgba($primary, 0.2);
  }
}

.card:hover {
  border-color: $primary;
}

.card-large {
  height: 50%vw;
  max-width: 1280px;
}

.card-medium {
  height: 50%vw;
  max-width: 640px;
}
